@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Caveat&display=swap');
* {
  box-sizing: border-box;
}
:root {
    --primary-color: #3A321A ;
    --secondary-color: #072B2A ;
    --accent1-color: #4BC2C6 ;
    --accent2-color: #974700 ;


    --heading-font: 'Rock Salt', serif;
    --paragraph-font: 'Caveat', serif;


    --nav-background-color: #FFFFFF;
    --nav-link-color: #072B2A;
    --nav-hover-link-color: #3A321A;
    --nav-hover-background-color: #286C6E;

}
body {
    font-family: 'Caveat', sans-serif; 
    color: var(--primary-color);
    margin: 0 auto; 
    max-width: 960px;
    padding: 20px;
}
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
  }
  
  
  p {
    line-height: 3.0; 
    

  }
  

  a {
    color: #4BC2C6 ;
    text-decoration: none;
    align-self: center;
  }
  
  .social-media-link {
    text-decoration: none; 
  }

  .hero {
    position: relative;
  }
  
  
  .hero h1 {
    position: absolute;
    top: 10%; 
    left: 60%; 
    transform: translate(-50%, -50%);
    color: #fff ; 
  }
  
 
  .hero article {
    position: absolute;
    top: 30%;
    left: 70%; 
    transform: translateX(-10%);
    background-color: rgba(154, 188, 197, 0.7);
    color: #f6f0f0; 
  }
  .hero img {
  
    bottom: 50px;
    display: block;
    width: 100%;
    height: auto;
    
    
  }
  .hero article img {
    float: right;
    margin-left: 20px;
    

  }
  .hero article p {
    
    margin: 0; 
    

    
  }
  .box img {
    display: grid;
    grid-column: 1/4;
    justify-content: center;
    align-items: center;
    
  } 
  .containers{
    display: grid;
    grid-template-columns: 300px 100px 100px 100px 100px;
    padding: 10px;
    background-color: #286C6E; 
    
    
  }
  
  .history img {
    height: 200px;
    width: 200px;
    position: absolute;
    margin-left: 350px;
    bottom: 30px;
    
    
    
  }
  .history h2{
    text-align:center;
    position: relative;
    
  }
  
  .columns-container{
    max-width:1000px;
    margin: auto;
    background-color: #ffffff;
    padding: 5px;
    


  }
  .columns {
    column-count: 2; 
    column-gap: 250px; 
    column-rule: 2px;
    
  } 
  .images-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;  
  }

  .sociallinks{
    left: 1420px;
    position: absolute;
    
    
  }

  footer p {
    text-align: center;
    position: relative;
    bottom: -70px;
    
  }